<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIFeatureFunctionCalling</key>
	<true/>
	<key>AIFeatureHostedCodeInterpeter</key>
	<true/>
	<key>AIFeatureHostedFileSearch</key>
	<true/>
	<key>AIFeatureHostedWebSearch</key>
	<true/>
	<key>AIFeatureStreamingResponses</key>
	<true/>
	<key>AITermAPI</key>
	<integer>2</integer>
	<key>AIVectorStore</key>
	<integer>0</integer>
	<key>AiMaxTokens</key>
	<integer>400000</integer>
	<key>AiModel</key>
	<string>gpt-5.1</string>
	<key>AiResponseMaxTokens</key>
	<integer>128000</integer>
	<key>AitermURL</key>
	<string>https://api.openai.com/v1/responses</string>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Custom Color Presets</key>
	<dict>
		<key>Solarized Dark (2)</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1937013864517212</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14145714044570923</real>
				<key>Green Component</key>
				<real>0.10840655118227005</real>
				<key>Red Component</key>
				<real>0.8192697763442993</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4385056495666504</real>
				<key>Green Component</key>
				<real>0.4071767330169678</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5168579816818237</real>
				<key>Green Component</key>
				<real>0.5096293091773987</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7290843725204468</real>
				<key>Green Component</key>
				<real>0.33896297216415405</real>
				<key>Red Component</key>
				<real>0.3479863405227661</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5636365413665771</real>
				<key>Green Component</key>
				<real>0.5648583769798279</real>
				<key>Red Component</key>
				<real>0.5059919357299805</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8640598058700562</real>
				<key>Green Component</key>
				<real>0.9579439163208008</real>
				<key>Red Component</key>
				<real>0.9894341826438904</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.020208755508065224</real>
				<key>Green Component</key>
				<real>0.5411549210548401</real>
				<key>Red Component</key>
				<real>0.44977453351020813</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.023484811186790466</real>
				<key>Green Component</key>
				<real>0.4675142467021942</real>
				<key>Red Component</key>
				<real>0.6474647521972656</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7823141813278198</real>
				<key>Green Component</key>
				<real>0.46265947818756104</real>
				<key>Red Component</key>
				<real>0.12754884362220764</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4351663589477539</real>
				<key>Green Component</key>
				<real>0.10802463442087173</real>
				<key>Red Component</key>
				<real>0.777389407157898</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5250227451324463</real>
				<key>Green Component</key>
				<real>0.570823609828949</real>
				<key>Red Component</key>
				<real>0.1467953473329544</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7978110313415527</real>
				<key>Green Component</key>
				<real>0.8900123834609985</real>
				<key>Red Component</key>
				<real>0.916110634803772</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.1178361028432846</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.07353043556213379</real>
				<key>Green Component</key>
				<real>0.21325300633907318</real>
				<key>Red Component</key>
				<real>0.7417625784873962</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.1178361028432846</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5636365413665771</real>
				<key>Green Component</key>
				<real>0.5648583769798279</real>
				<key>Red Component</key>
				<real>0.5059919357299805</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5168579816818237</real>
				<key>Green Component</key>
				<real>0.5096293091773987</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1937013864517212</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5168579816818237</real>
				<key>Green Component</key>
				<real>0.5096293091773987</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5636365413665771</real>
				<key>Green Component</key>
				<real>0.5648583769798279</real>
				<key>Red Component</key>
				<real>0.5059919357299805</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1937013864517212</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>Wombat</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3538058400154114</real>
				<key>Green Component</key>
				<real>0.3797585070133209</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5609183311462402</real>
				<key>Green Component</key>
				<real>0.9733825325965881</real>
				<key>Red Component</key>
				<real>0.865159809589386</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.6989853978157043</real>
				<key>Green Component</key>
				<real>0.8998023271560669</real>
				<key>Red Component</key>
				<real>0.9344839453697205</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.7805641889572144</real>
				<key>Red Component</key>
				<real>0.6488920450210571</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.6683939099311829</real>
				<key>Red Component</key>
				<real>0.8678815364837646</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9768658876419067</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.7173022627830505</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9998292922973633</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9998773336410522</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.41247016191482544</real>
				<key>Green Component</key>
				<real>0.9120915532112122</real>
				<key>Red Component</key>
				<real>0.6952847242355347</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.6124048829078674</real>
				<key>Green Component</key>
				<real>0.8496686816215515</real>
				<key>Red Component</key>
				<real>0.920309841632843</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9664512276649475</real>
				<key>Green Component</key>
				<real>0.6642811894416809</real>
				<key>Red Component</key>
				<real>0.36596208810806274</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.4175935685634613</real>
				<key>Red Component</key>
				<real>0.9107645153999329</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9674192667007446</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.510175883769989</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8099873065948486</real>
				<key>Green Component</key>
				<real>0.8546018004417419</real>
				<key>Red Component</key>
				<real>0.8725224137306213</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19356094300746918</real>
				<key>Green Component</key>
				<real>0.19360662996768951</real>
				<key>Red Component</key>
				<real>0.19357019662857056</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.501872718334198</real>
				<key>Green Component</key>
				<real>0.5484570264816284</real>
				<key>Red Component</key>
				<real>0.9616384506225586</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.09135911613702774</real>
				<key>Green Component</key>
				<real>0.09137868881225586</real>
				<key>Red Component</key>
				<real>0.09136433899402618</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8099873065948486</real>
				<key>Green Component</key>
				<real>0.8546018004417419</real>
				<key>Red Component</key>
				<real>0.8725224137306213</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7527463436126709</real>
				<key>Green Component</key>
				<real>0.7337846159934998</real>
				<key>Red Component</key>
				<real>0.7153552770614624</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22383280098438263</real>
				<key>Green Component</key>
				<real>0.23080787062644958</real>
				<key>Red Component</key>
				<real>0.2712581753730774</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>4C72574B-391E-477C-8CC2-316D52579452</string>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0xd-0x20000-0x24</key>
		<dict>
			<key>Action</key>
			<integer>12</integer>
			<key>Keycode</key>
			<integer>13</integer>
			<key>Modifiers</key>
			<integer>131072</integer>
			<key>Text</key>
			<string>\n</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>NSAutoFillHeuristicControllerEnabled</key>
	<false/>
	<key>NSOverlayScrollersFallBackForAccessoryViews</key>
	<false/>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 81 224 278 0 0 3440 1415 </string>
	<key>NSWindow Frame ProfilesPanel</key>
	<string>777 126 735 388 0 0 1512 944 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>1520 960 400 135 0 0 3440 1415 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>1410 762 620 398 0 0 3440 1415 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>113 4 1178 940 0 0 1512 944 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>863 20 2330 1376 0 0 3440 1415 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Guid</key>
			<string>4C72574B-391E-477C-8CC2-316D52579452</string>
			<key>Horizontal Spacing</key>
			<real>1.0</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>RictyForPowerline-Regular 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>RictyForPowerline-Regular 16</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.7098000049591064</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Tmux Newline</key>
			<true/>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unicode Version</key>
			<integer>9</integer>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<false/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.0</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/louis</string>
		</dict>
	</array>
	<key>NoSyncAllAppVersions</key>
	<array>
		<string>3.5.2</string>
		<string>3.6.11</string>
		<string>3.5.13</string>
		<string>3.4.15</string>
		<string>3.5.1</string>
		<string>3.4.21</string>
		<string>3.6.8</string>
		<string>3.5.10</string>
		<string>3.4.23</string>
		<string>3.5.0</string>
		<string>3.5.5</string>
		<string>3.4.19</string>
		<string>3.6.2</string>
		<string>3.6.10</string>
		<string>3.5.4</string>
		<string>3.5.9</string>
		<string>3.4.20</string>
		<string>3.4.16</string>
		<string>3.5.14</string>
		<string>3.6.6</string>
		<string>3.4.22</string>
		<string>3.5.3</string>
		<string>3.5.8</string>
		<string>3.4.18</string>
		<string>3.5.11</string>
		<string>3.6.5</string>
		<string>3.4.13</string>
	</array>
	<key>NoSyncBFPRecents</key>
	<array>
		<string>Monaco</string>
		<string>Snell Roundhand</string>
		<string>Zapfino</string>
		<string>Ricty for Powerline</string>
	</array>
	<key>NoSyncFrame_SessionsPreferences</key>
	<dict>
		<key>screenFrame</key>
		<string>{{0, 0}, {1512, 982}}</string>
		<key>topLeft</key>
		<string>{294, 723}</string>
	</dict>
	<key>NoSyncFrame_SharedPreferences</key>
	<dict>
		<key>screenFrame</key>
		<string>{{0, 0}, {1512, 982}}</string>
		<key>topLeft</key>
		<string>{127, 697}</string>
	</dict>
	<key>NoSyncIgnoreSystemWindowRestoration</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>2C4A256C-4D22-4BAF-8B06-C1A45BBD9388</string>
	<key>NoSyncLastOSVersion</key>
	<string>Version 15.5 (Build 24F74)</string>
	<key>NoSyncLastSystemPythonVersionRequirement</key>
	<string>1.17</string>
	<key>NoSyncLaunchExperienceControllerRunCount</key>
	<integer>81</integer>
	<key>NoSyncNextAnnoyanceTime</key>
	<real>781248131.145075</real>
	<key>NoSyncOnboardingWindowHasBeenShown34</key>
	<true/>
	<key>NoSyncPermissionToShowTip</key>
	<false/>
	<key>NoSyncRecordedVariables</key>
	<dict>
		<key>0</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string></string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>1</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>presentationName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxRole</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>lastCommand</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>profileName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>showingAlternateScreen</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>homeDirectory</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>columns</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tab.tmuxWindowTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>uname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>processTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxClientName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>selectionLength</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>mouseInfo</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>shell</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>triggerName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>parentSession</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowPane</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxStatusRight</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>mouseReportingMode</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxPaneTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>rows</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowPaneIndex</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoLogId</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>badge</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>logFilename</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tab.tmuxWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>effective_root_pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>sshIntegrationLevel</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>tab</string>
				<key>nonterminalContext</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxStatusLeft</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>selection</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoNameFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>creationTimeString</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>commandLine</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>applicationKeypad</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>jobPid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>16</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>style</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.jobPid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>frame</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.mouseInfo</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>isHotkeyWindow</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>currentTab</string>
				<key>nonterminalContext</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.processTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.window</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverride</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>number</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.commandLine</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverrideFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.effective_root_pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>2</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindow</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.commandLine</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>title</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>title</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.jobPid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.effective_root_pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>window</string>
				<key>nonterminalContext</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.processTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>window</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.mouseInfo</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverride</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverrideFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>currentSession</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>4</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>localhostName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>effectiveTheme</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>NoSyncRemoveDeprecatedKeyMappings</key>
	<integer>2</integer>
	<key>NoSyncRestoreWindowsCount</key>
	<integer>0</integer>
	<key>NoSyncSavedWindowPositions</key>
	<dict>
		<key>0</key>
		<string>{113, 944}</string>
		<key>1</key>
		<string>{863, 1396}</string>
	</dict>
	<key>NoSyncScrollingHorizontally</key>
	<true/>
	<key>NoSyncTipOfTheDayEligibilityBeganTime</key>
	<real>659432800.337534</real>
	<key>NoSyncWindowRestoresWorkspaceAtLaunch</key>
	<false/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreventEscapeSequenceFromClearingHistory</key>
	<false/>
	<key>Print In Black And White</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final_modern.xml?shard=14</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-08-15T05:55:39Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>4185888991</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>iTerm Version</key>
	<string>3.6.11</string>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
