[data]
    name = "{{ promptStringOnce . "name" "Full name" }}"
    email = "{{ promptStringOnce . "email" "Git email" }}"
    signingkey = "{{ promptStringOnce . "signingkey" "GPG signing key (leave empty to disable)" "" }}"
