[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "clipboard/ClipboardTextListener"]
	path = clipboard/ClipboardTextListener
	url = https://github.com/yoshikaw/ClipboardTextListener.git
